
$primary: #042b4d;
$secondary: #26a69a;
$accent: #24bcf3;

$dark: #174d7c !default;
$dark-page: #121212 !default;
$main-bg-dark-color: #21282c !default;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$grey: #23282c !default;
